<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">

<listeners>
<listener class-name="TestComponents.Listeners"></listener>
</listeners>

  <test thread-count="5" name="SubmitOrderTest">
      <classes>
      <class name="Tests.SubmitOrderTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="Tests.ErroValidationsTest">
    <classes>
      <class name="Tests.ErrorValidations"/>
    </classes>
</test>    
</suite> <!-- Suite -->
